.bg-sage-50[data-v-77d51cf3]{background-color:#f0f4f0}.text-sage-700[data-v-77d51cf3]{color:#2e6e32}.bg-sage-50[data-v-06b5df47]{background-color:#f0f4f0}.text-sage-700[data-v-06b5df47]{color:#2e6e32}
